/************************************/
/* CSS Reset & General Declarations */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: 'Inter', sans-serif;
	height: 100%;
}

body {
	background-color: #fffdf9;
	color: #121212;
	max-width: 960px;
	margin: 0 auto;
	overflow-x: hidden;
}

/* Text, Links, Headings */
a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
}

h1 {
	font-size: 2rem;
	margin-bottom: 0.5rem;
}

h2 {
	margin-bottom: 0.2rem;
}

h4 {
	font-weight: 500;
	color: #000000b2;
	margin-bottom: 10px;
}

p {
	font-size: 0.9rem;
	line-height: 1.4;
	margin-bottom: 0.8rem;
	margin-top: 0.8rem;
}

/* Header */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24px 24px 0px 24px;
}

header a {
	font-weight: 600;
}

.avatar {
	width: 50px;
	border-radius: 50%;
}

/* Main Content Container */
main {
	padding: 20px;
	margin: 0 auto;
}

/* General Card Styling */
.card {
	padding: 18px 24px;
	max-width: 450px;
	margin: 10px 0;
}

/* Introduction Card */
.card-intro {
	background-color: #fff;
	border: 1px solid #000;
}

.card-intro h2 {
	font-size: 1.2rem;
	font-weight: 500;
	margin-bottom: 0.8rem;
}

.tags-intro li {
	color: #fff;
	background-color: #4b4b4b;
}

/* Social Icons & Links Card */
.card-social {
	background-color: #ececec;
	text-align: center;
	width: 100%;
}

.card-social a {
	background-color: #c7c7c7;
	color: black;
	padding: 5px 8px;
	border-radius: 40px;
	margin: 0 6px;
	transition: all 300ms ease-in;
}

.card-social a:hover {
	background-color: #4b4b4b;
	color: #fff;
}

.card-social a:hover i {
	color: #c7c7c7;
}

.card-social span {
	display: none;
	transition: all 50ms ease-in;
}

.card-social a:hover span {
	display: inline;
	cursor: pointer;
}

/* Final Footer Card (Coming Soon Info) */
.card-footer {
	background-color: #ececec;
	width: 100%;
}

.card-footer a {
	font-weight: 600;
}

.card-footer a:hover {
	text-decoration: underline;
}

.card-footer li {
	background-color: #4b4b4b;
	color: #fff;
}

/* Tech Tags General Styling */
.tags {
	display: flex;
	gap: 12px;
	flex-wrap: wrap;
	margin-top: 8px;
}

.tags li {
	padding: 6px 10px;
	font-size: 0.7rem;
	border-radius: 4px;
}

/************************/
/* Project Card Styling */
.card-project {
	margin-bottom: 30px;
}

/* Heading & Links Inside Project Cards */
.project-heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.project-links {
	display: flex;
	justify-content: space-between;
	gap: 4px;
}

.project-links li {
	border-radius: 40px;
	padding: 4px 10px;
	color: white;
	transition: all 300ms ease-in;
}

.project-links li:hover {
	-webkit-transform: scale(1.075);
	transform: scale(1.075);
	filter: hue-rotate(50deg);
}

/* Laptop Image Inside Project Cards */
.card-project img {
	background-color: transparent;
	filter: drop-shadow(2px 2px 6px #646464);
	max-width: 100%;
	max-height: 300px;
	margin-bottom: -42px;
	transition: all 300ms ease-in;
}

.demo-link {
	position: relative;
	text-align: center;
}

.demo-link-hover {
	position: absolute;
	top: 55%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #646464;
	color: white;
	border-radius: 40px;
	padding: 4px 10px;
	opacity: 0;
	transition: all 300ms ease-in;
	white-space: nowrap;
}

.demo-link:hover img {
	opacity: 0.75;
	filter: grayscale(0.9) blur(1px);
}

.demo-link:hover .demo-link-hover {
	opacity: 1;
}

/* Individual Color Schemes for Project Cards */
/* World Clock */
.card-project:nth-of-type(3) {
	background-color: #dddbdb;
}

.card-project:nth-of-type(3) .tags-project li {
	background-color: #b2abab;
	color: #000000;
}

.card-project:nth-of-type(3) .project-links li {
	background-color: #57585d;
}

/* Keyboard App */
.card-project:nth-of-type(4) {
	background-color: #dbdfea;
}

.card-project:nth-of-type(4) .tags-project li {
	background-color: #acb1d6;
	color: #11204a;
}

.card-project:nth-of-type(4) .project-links li {
	background-color: #8294c4;
}

/* NYC Landing */
.card-project:nth-of-type(5) {
	background-color: #e1dbea;
}

.card-project:nth-of-type(5) .tags-project li {
	background-color: #afa0ba;
	color: #32114a;
}

.card-project:nth-of-type(5) .project-links li {
	background-color: #8e6fc0;
}

/* Weather App */
.card-project:nth-of-type(6) {
	background-color: #e3eef2;
}

.card-project:nth-of-type(6) .tags-project li {
	background-color: #adc4ce;
	color: #11204a;
}

.card-project:nth-of-type(6) .project-links li {
	background-color: #7a9cab;
}

/* Omnifood */
.card-project:nth-of-type(7) {
	background-color: #ddeecf;
}

.card-project:nth-of-type(7) .tags-project li {
	background-color: #8ab986;
	color: #1c391a;
}

.card-project:nth-of-type(7) .project-links li {
	background-color: #467c41;
}

/* Valorant */
.card-project:nth-of-type(8) {
	background-color: #f8e8ee;
}

.card-project:nth-of-type(8) .tags-project li {
	background-color: #eb9bb8;
	color: #4f0c25;
}

.card-project:nth-of-type(8) .project-links li {
	background-color: #bf4d76;
}

/* Hogwarts */
.card-project:nth-of-type(9) {
	background-color: #f8f2df;
	width: 100%;
}

.card-project:nth-of-type(9) .tags-project li {
	background-color: #dcc57c;
	color: #2c2408;
}

.card-project:nth-of-type(9) .project-links li {
	background-color: #b89e49;
}

/**************************************/
/* Media Queries for Smaller Devices */

@media (max-width: 915px) {
	header {
		justify-content: space-around;
	}
}

@media (max-width: 520px) {
	main {
		padding: 0;
	}

	header {
		padding: 18px 18px 10px;
		justify-content: space-between;
	}

	.card {
		max-width: 100%;
	}

	.card-project img {
		max-width: 80%;
	}

	.card-social a:hover span {
		display: none;
	}
}
