*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

img {
	display: block;
	max-width: 100%;
}

input,
button {
	font: inherit;
}
