*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: 'Inter', sans-serif;
	height: 100%;
}

body {
	background-color: #fffdf9;
	color: #121212;
}

img {
	display: block;
	max-width: 100%;
}

input,
button,
textarea {
	font: inherit;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

main img {
	background-color: transparent;
	filter: drop-shadow(1px 1px 2px #646464);
	width: 200px;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24px;
}

header ul {
	display: flex;
	justify-content: space-between;
	gap: 16px;
}

/* main {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
	padding: 10px 20px;
	gap: 20px;
	justify-content: center;
} */

h1 {
	font-size: 2rem;
}

p {
	font-size: 0.9rem;
	line-height: 1.4;
}

.card {
	padding: 16px;
	width: 400px;
	height: fit-content;
}

.card-intro {
	background-color: #fff;
	border: 1px solid #000;
}

.card-intro h2 {
	font-size: 1.2rem;
	font-weight: 500;
}

.card-project {
	background-color: lightblue;
}

.card-social {
	background-color: grey;
}

.avatar {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
